html,body {
  margin :  0px;
  padding : 0px;
}

.jumbotron {
    font-family: 'Montserrat',sans-serif;
    padding: 150px 0;
    text-align: center;
    background: url(../images/mew.jpg) center;
}

.jumbotron h1 {
    color: #fff;
    font-size: 50px;
    color: #000;
    margin: 0;
}

.jumbotron p {
    font-size:20px;
    margin-bottom: 50px;
}

.button {
    color: blueviolet;
    text-decoration: none;
    border: 5px solid blueviolet;
    padding: 10px 10px;
    transition: 0.3s;
}

.button:hover {
    background-color: blueviolet;
    color: #fff;
}